body{
    font-family: 'Times New Roman', Times, serif;
}


.topheader {
    background-color: #f8f7f8;
    align-content: center;
    height: 200px;
    width: 600px;
    text-wrap: pretty;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.stretch-button {
font-family: 'Times New Roman', Times, serif;
  background-color: #1985A1;
  color: white;
  border: none;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  vertical-align: middle;
  transition: padding-top 1s,
    padding-bottom 1s,
    padding-left 1s,
    padding-right 1s;
}

.stretch-button:hover {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 36px;
  padding-right: 36px;
}


.quarter-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
    background-color: #a1e3e6;
    height: 70px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.para1 {
    padding-top: 5px;
}


a:link {
    color: rgb(196, 196, 196);
    background-color: transparent;
    text-decoration: none;
  }
  n
  a:visited {
    color: rgb(104, 151, 205);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(224, 222, 253);
    background-color: transparent;
    text-decoration: underline;
  }

  .save-button {
    background-color: #578183;
    color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(10, 102, 194);
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.15s,
      border-width 0.15s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .save-button:hover {
    background-color: rgb(226, 240, 254);
    border-width: 2px;
  }